/* This is background color */
body {
    background-color: powderblue;
    line-height: 1.6; /* Ensures adequate line spacing */
    }

/* Tag element */
    p { 
    color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align:justify;
    margin: 15px;
    padding: 3px;
    }

    h1 { 
    color: black;
    font-family:fantasy;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    }
    main{
        background-color: white;
    }








